In [131]:
import geopandas
import pandas as pd

geo_states = geopandas.read_file('./data/tl_2021_us_state.shp')
state_shapes = geo_states[['geometry', 'GEOID', 'NAME']]

state_finances = pd.read_csv('./data/state_gov_finances.csv')[['GEO_ID', 'AMOUNT', 'YEAR', 'GOVTYPE', 'AGG_DESC']]
state_finances = state_finances[
    (state_finances['YEAR'] == '2020')
    & (state_finances['GOVTYPE'] == '002')
    & (state_finances['AGG_DESC'] == 'SF0001')
]
state_finances.update(
    state_finances['GEO_ID'].map(lambda geo_id: geo_id[-2:])
)

In [132]:
state_shapes.head()

                                            geometry GEOID           NAME
0  POLYGON ((-80.85847 37.42831, -80.85856 37.428...    54  West Virginia
1  MULTIPOLYGON (((-83.10874 24.62949, -83.10711 ...    12        Florida
2  POLYGON ((-89.17208 37.06831, -89.17296 37.067...    17       Illinois
3  POLYGON ((-92.74568 45.29604, -92.74629 45.295...    27      Minnesota
4  POLYGON ((-75.76659 39.37756, -75.76630 39.373...    24       Maryland

In [133]:
state_finances.head()

     GEO_ID     AMOUNT  YEAR GOVTYPE AGG_DESC
9        01   36908937  2020     002   SF0001
441      02   10421195  2020     002   SF0001
873      04   50547601  2020     002   SF0001
1305     05   28572105  2020     002   SF0001
1737     06  413372904  2020     002   SF0001

In [134]:
states_with_revenue = state_shapes.merge(state_finances, left_on='GEOID', right_on='GEO_ID')[
    ['geometry', 'GEOID', 'NAME', 'AMOUNT']
]

In [135]:
states_with_revenue.head()

,geometry,GEOID,NAME,AMOUNT
0,"POLYGON ((-80.85847 37.42831, -80.85856 37.428...",54,West Virginia,16581140
1,"MULTIPOLYGON (((-83.10874 24.62949, -83.10711 ...",12,Florida,110295047
2,"POLYGON ((-89.17208 37.06831, -89.17296 37.067...",17,Illinois,106590791
3,"POLYGON ((-92.74568 45.29604, -92.74629 45.295...",27,Minnesota,57362323
4,"POLYGON ((-75.76659 39.37756, -75.76630 39.373...",24,Maryland,52422740

In [136]:
type(states_with_revenue)

geopandas.geodataframe.GeoDataFrame

In [139]:
states_with_revenue_2 = state_finances.merge(state_shapes, right_on='GEOID', left_on='GEO_ID')
type(states_with_revenue_2)

pandas.core.frame.DataFrame

In [140]:
states_with_revenue = state_shapes.merge(state_finances, left_on='GEOID', right_on='GEO_ID')
type(states_with_revenue)

geopandas.geodataframe.GeoDataFrame